@media (perfers-color-scheme:dark)
{
    body
    {
        background-color: #111;
    }
    a
    {
        color: #6dd;
        
        &:visited
        {
            color: #4bb;
        }
        
        &:hover {
            color: #8ff;
        }
    }
    blockquote
    {
        color: #aaa;
    }
}
